*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: brown;
    color: rgb(233, 172, 93);
    padding:  10px;
    margin-bottom: 8px;
}

header .cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho h1{
    margin-left: 6px;
}

header nav li{
    display: inline;
    padding: 8px;
}

header nav li a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.sobre{
    display: grid;
    grid-template-columns: 340px auto;
    padding: 10px;
    margin-left: 6px;
}

#detalhe{
    display: block;
    border: 2px solid brown;
    border-radius: 2px;
    margin-left: 1%;
    margin-right: 1%;
    max-width: 98%;
}

.nossos-pratos #detalhe{
    margin-left: 1%;
}

.pratos{
    display: grid;
    grid-template-columns: repeat(4, 23.45%);
    column-gap: 2%;
    row-gap: 5%;
    padding: 10px;
    max-width: 100%;
    margin-top: 12px;
}

button{
    padding: 2px;
    background-color: rgb(233, 172, 93);
    font-weight: 700;
    font-size: 12px;
}

img{
    border-radius: 4px;
}

.carrosel-imagens img{
    border-radius: unset;
}

.zoom{
    transition: .2s;
}

.zoom:hover{
    transform: scale(1.03);
}

#titulo{
    margin-left: 30px;
}

#texto{
    padding: 10px;
}

.prato img{
    max-width: 98%;
    height: 320px;
    border-radius: 5px;
    column-gap: 2%;
}

.prato > img{
    margin-left: auto;
    margin-right: auto;
}

.cabecalho a:hover{
    font-weight: bold;
}

.botao-prato{
    height: 46px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    border-radius: 5px;
}

.botao-prato:hover{
    border: 1px solid brown;
    cursor: pointer;
}
.prato img:hover{
    border: 1px solid brown;
    transition: .2s;
    transform: scale(1.02);
}

.pratos{
    display: grid;
    grid-template-columns: repeat(4, 23.45%);
    column-gap: 2%;
    row-gap: 5%;
    padding: 10px;
    max-width: 100%;
    margin-top: 12px;
}

.prato h2, p, button{
    margin: 2px 20px;
}

@media(max-width: 640px){
    .menu, form{
        display: none;
    }

    .sobre{
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .img-sobre{
        max-width: 100%;
        text-align: center;
    }

    .item-sobre{
        max-width: 100%;
        display: block;
        margin-left: auto;
        text-align: center;
        margin-top: 10px;
    }

    #texto{
        display: block;
        width: 100%;
        margin-left: 4px;
        font-size: 22px;
    }

    #titulo{
        font-size: 48px;
    }

    .pratos{
        display: block;
        text-align: center;
    }

    .prato{
        margin-bottom: 20px;
        justify-content: center;
    }

    .nossos-pratos #titulo{
        text-align: center;
        padding: 10px;
    }

    #info-prato{
        font-size: 1.5rem;
    }

    #info-prato{
        margin: 2% 15%;
    }

    .botao-prato{
        height: 45px;
        width: 150px;
        text-transform: uppercase;
        font-size: 1.1rem;
    }

    .botao-prato:hover{
        border: 2px solid brown;
        cursor: pointer;
    }
    
    .prato img:hover{
        border: 2px solid brown;
        transition: .2s;
        transform: scale(1.02);
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px){
    .sobre{
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .img-sobre{
        max-width: 100%;
        margin-left: 30%;
        margin-top: 20px; 
    }

    .item-sobre{
        max-width: 100%;
        display: block;
        margin-left: 20px;
        text-align: center;
        margin-top: 10px;
    }

    #texto{
        display: block;
        width: 100%;
        margin-left: 4px;
        font-size: 22px;
    }

    #titulo{
        font-size: 48px;
    }

    .pratos{
        display: grid;
        grid-template-columns: repeat(2, 47%);
        column-gap: 2%;
        row-gap: 5%;
        padding: 0px;
        max-width: 100%;
        margin-top: 12px;
        text-align: center;
    }

    .botao-prato-impar{
        max-width: 100%;
        margin-left: 7px;
    }
}